#Gitignore for frontend project
/social_media_frontend/logs
/social_media_frontend/*.log
/social_media_frontend/npm-debug.log*
/social_media_frontend/yarn-debug.log*
/social_media_frontend/yarn-error.log*
/social_media_frontend/lerna-debug.log*
/social_media_frontend/.pnpm-debug.log*
/social_media_frontend/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
/social_media_frontend/pids
/social_media_frontend/*.pid
/social_media_frontend/*.seed
/social_media_frontend/*.pid.lock
/social_media_frontend/lib-cov
/social_media_frontend/coverage
/social_media_frontend/*.lcov
/social_media_frontend/.nyc_output
/social_media_frontend/.grunt
/social_media_frontend/bower_components
/social_media_frontend/.lock-wscript
/social_media_frontend/build/Release
/social_media_frontend/node_modules/
/social_media_frontend/jspm_packages/
/social_media_frontend/web_modules/
/social_media_frontend/*.tsbuildinfo
/social_media_frontend/.npm
/social_media_frontend/.eslintcache
/social_media_frontend/.stylelintcache
/social_media_frontend/.rpt2_cache/
/social_media_frontend/.rts2_cache_cjs/
/social_media_frontend/.rts2_cache_es/
/social_media_frontend/.rts2_cache_umd/
/social_media_frontend/.node_repl_history
/social_media_frontend/*.tgz
/social_media_frontend/.yarn-integrity
/social_media_frontend/.env
/social_media_frontend/.env.development.local
/social_media_frontend/.env.test.local
/social_media_frontend/.env.production.local
/social_media_frontend/.env.local
/social_media_frontend/.cache
/social_media_frontend/.parcel-cache
/social_media_frontend/.next
/social_media_frontend/out
/social_media_frontend/.nuxt
/social_media_frontend/dist
/social_media_frontend/.cache/
/social_media_frontend/.vuepress/dist
/social_media_frontend/.temp
/social_media_frontend/.cache
/social_media_frontend/.docusaurus
/social_media_frontend/.serverless/
/social_media_frontend/.fusebox/
/social_media_frontend/.dynamodb/
/social_media_frontend/.tern-port
/social_media_frontend/.vscode-test
/social_media_frontend/.yarn/cache
/social_media_frontend/.yarn/unplugged
/social_media_frontend/.yarn/build-state.yml
/social_media_frontend/.yarn/install-state.gz
/social_media_frontend/.pnp.*
/social_media_frontend/.vscode

#Gitignore for backend project
social_media_backend/__pycache__/
social_media_backend/*.py[cod]
social_media_backend/*$py.class
social_media_backend/*.so
social_media_backend/.Python
social_media_backend/build/
social_media_backend/develop-eggs/
social_media_backend/dist/
social_media_backend/downloads/
social_media_backend/eggs/
social_media_backend/.eggs/
social_media_backend/lib/
social_media_backend/lib64/
social_media_backend/parts/
social_media_backend/sdist/
social_media_backend/var/
social_media_backend/wheels/
social_media_backend/share/python-wheels/
social_media_backend/*.egg-info/
social_media_backend/.installed.cfg
social_media_backend/*.egg
social_media_backend/MANIFEST
social_media_backend/*.manifest
social_media_backend/*.spec
social_media_backend/pip-log.txt
social_media_backend/pip-delete-this-directory.txt
social_media_backend/htmlcov/
social_media_backend/.tox/
social_media_backend/.nox/
social_media_backend/.coverage
social_media_backend/.coverage.*
social_media_backend/.cache
social_media_backend/nosetests.xml
social_media_backend/coverage.xml
social_media_backend/*.cover
social_media_backend/*.py,cover
social_media_backend/.hypothesis/
social_media_backend/.pytest_cache/
social_media_backend/cover/
social_media_backend/*.mo
social_media_backend/*.pot
social_media_backend/*.log
social_media_backend/local_settings.py
social_media_backend/db.sqlite3
social_media_backend/db.sqlite3-journal
social_media_backend/instance/
social_media_backend/.webassets-cache
social_media_backend/.scrapy
social_media_backend/docs/_build/
social_media_backend/.pybuilder/
social_media_backend/target/
social_media_backend/.ipynb_checkpoints
social_media_backend/profile_default/
social_media_backend/ipython_config.py
social_media_backend/.pdm.toml
social_media_backend/.pdm-python
social_media_backend/.pdm-build/
social_media_backend/__pypackages__/
social_media_backend/celerybeat-schedule
social_media_backend/celerybeat.pid
social_media_backend/*.sage.py
social_media_backend/.env
social_media_backend/.venv
social_media_backend/env/
social_media_backend/venv/
social_media_backend/ENV/
social_media_backend/env.bak/
social_media_backend/venv.bak/
social_media_backend/.spyderproject
social_media_backend/.spyproject
social_media_backend/.ropeproject
social_media_backend/site
social_media_backend/.mypy_cache/
social_media_backend/.dmypy.json
social_media_backend/dmypy.json
social_media_backend/.pyre/
social_media_backend/.pytype/
social_media_backend/cython_debug/
social_media_backend/.pypirc
env
social_media_backend/static/media/post_attachments
social_media_backend/static/media/avatars

notes.txt